.primary-nav {
    padding-top: 10px;
    @mixin atMedium {
        padding-top: 0;
    }
    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        @mixin clearFix {
        }
    }
    li {
        list-style: none;
        display: inline-block;
        padding-right: 7px;
        @mixin atMedium {
            padding-right: 20px;
            float: left;
            display:block;
        }
    }
    li:last-child{
        padding-right: 0;
        @mixin atMedium {
            padding-right: 20px ;
        }
    }
    .is-current-link{
        color: #fabb69;;
    }
    a {
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        text-decoration: none;
        display: block;
        padding: 5px 8px;
        background-color: rgba($mainOrange,0.8);
        @mixin atMedium {
            
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;
            &.is-current-link{
                color: #fabb69;
            }
        }
    }
}
