.row{


    @mixin clearFix{
    background-color: white;
    }

    &__gutters{
        margin-right: -65px;
    }
    &__gutters-large{
        margin-right:-100px;
    }
    &__gutters > div{
        padding-right: 65px;
        
    }
    &__gutters-large > div{
        padding-right: 100px;
        
    }
    
    &__b-margin-until-medium{
        margin-bottom: 1rem;;
    }
    @mixin atMedium {
        &__b-margin-until-medium{
            margin-bottom: 0;
        }
        &__medium-4{
        
            float:left;
            width: 33.333%;
        }
        &__medium-4--larger{
            width: 37%;
        }
        &__medium-6{
            float:left;
            width: 50%;
        }
        
        &__medium-8{
            float:left;
            width: 66.666%;
        }
        &__medium-8--smaller{
            width: 63%;
        }
       
        
    }
    
}